# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/

# Env
.env
*.env
healthbot.env

# Python
__pycache__/
*.pyc
*.pyo
.Python
env/
venv/
.venv/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Misc
.DS_Store

